[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pycairo = "*"
clip = {git = "git+https://github.com/jokane/clip"}
triangle = "*"

[dev-packages]

[requires]
python_version = "3.10"
